<h2>Корзина</h2>
<ul>
    {% for item in cart %}
        <li>
            <img src="{{ item.flower.image.url }}" alt="{{ item.flower.name }}" class="img-fluid" style="max-width: 100px;">
            <h3>{{ item.flower.name }}</h3>
            <p>Количество: {{ item.quantity }}</p>
            <p>Цена: {{ item.total_price }} руб.</p>
            <form action="{% url 'orders:cart_remove' item.flower.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </li>
    {% endfor %}
</ul>
<p>Общая стоимость: {{ cart.get_total_price }} руб.</p>
<form action="{% url 'orders:order_create' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Оформить заказ</button>
</form>
