{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{ flower.image.url }}" class="card-img-top" alt="{{ flower.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ flower.name }}</h5>
                <p class="card-text">{{ flower.price }} ₽</p>
                <p>{{ flower.description }}</p>
                <!-- Убрали цикл, т.к. выводим один цветок -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
