{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center">Добро пожаловать в Flower Delivery!</h1>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for flower in flowers %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for flower in flowers %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ flower.image.url }}" class="d-block w-100" alt="{{ flower.name }}">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ flower.name }}</h5>
          <p>{{ flower.description }}</p>
          <p><strong>Цена:</strong> {{ flower.price }} ₽</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <a href="{% url 'catalog:catalog_list' %}" class="btn btn-primary mt-5">Перейти в каталог</a>
{% endblock %}
