{% extends 'base.html' %}

{% block content %}
  <h1>Добро пожаловать в Flower Delivery!</h1>
  <p>Выберите цветы из нашего каталога или оставьте отзыв.</p>
  <a href="{% url 'catalog:catalog_list' %}">Каталог</a>

  <div class="row mt-4">
    {% for flower in flowers %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="{{ flower.image.url }}" class="card-img-top" alt="{{ flower.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ flower.name }}</h5>
          <p class="card-text">{{ flower.description }}</p>
          <p><strong>Цена:</strong> {{ flower.price }} ₽</p>
          <p><strong>В наличии:</strong> {{ flower.stock }} шт.</p>
          <a href="{% url 'catalog:flower_detail' flower.id %}" class="btn btn-primary">Подробнее</a>
          <a href="{% url 'orders:cart_add' flower.id %}" class="btn btn-success">Заказать</a>
          <a href="{% url 'reviews:add_review' flower.id %}" class="btn btn-secondary">Оставить отзыв</a>
          <a href="{% url 'catalog:flower_detail' flower.id %}" class="btn btn-info">Смотреть отзывы</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
