% extends 'base.html' %}

{% block content %}
<h1>Добро пожаловать в Flower Delivery!</h1>
<p>Выберите цветы из нашего каталога или оставьте отзыв.</p>
<a href="{% url 'catalog:catalog_list' %}">Каталог</a>
{% endblock %}

<div class="container mt{-5">
    <div class="row">
        {% for flower in flowers %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ flower.image.url }}" class="card-img-top" alt="{{ flower.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ flower.name }}</h5>
                    <p class="card-text">{{ flower.description }}</p>
                    <a href="{% url 'catalog:flower_detail' flower.id %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
