{% extends 'base.html' %}

{% block content %}
<h2 class="text-center my-4">Регистрация</h2>
<form method="post" class="form-signin">
    {% csrf_token %}
    <div class="form-group mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div class="form-group mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div class="form-group mb-3">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>
    <div class="form-group mb-3">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>
    <button type="submit" class="btn btn-primary mt-3">Зарегистрироваться</button>
</form>
{% endblock %}
